/* ------------------ generals ----------------*/
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #565656;
}
p {
  font-size: 0.8em;
}
strong {
  font-weight: bold;
}

/* ------------------ Header ----------------*/
header {
  width: 80%;
  margin: auto;
  position: relative;
}
/* -- Logo -- */
header a {
  display: inline-block;
}
header h2 {
  display: inline-block;
  margin-right: 250px;
}
/* --Menu --*/
nav {
  display: inline-block;
  vertical-align: super;

  /*bottom: 9px;
  right: 0;*/
}
li {
  display: inline-block;
  margin-right: 10px;
}
a {
  text-decoration: none;
}

/* ------------------ Hero ---------------*/

#accueil {
  background: url(../Images/main.jpg);
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  /*padding: auto;
  position: relative;*/
  display: inline-block;

  width: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
}
#accueil h1 {
  font-size: 2.5em;
  font-weight: 400;
  display: block;
  padding-top: 6%;
}

#accueil button {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5em;
}
/* -------------- destinations ---------------*/
#destinations {
  width: 80%;
  margin: 5% auto;
}
.etapes {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.etapes img {
  width: 80px;
}

/* ------------------ Circuits ---------------*/
#circuits {
  background: #f1f2f3;
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
}
#voiture,
#ocean {
  display: inline-block;
  position: relative;
  width: 400px;
  margin: 40px 10px;
  height: 250px;
  border-radius: 16px;
}
#ocean {
  background: url(../Images/article-image-2.jpg) center no-repeat;
}
#voiture {
  background: url(../Images/article-image-1.jpg) center no-repeat;
}
.option {
  position: absolute;
  left: 0px;

  width: 180px;
  height: 100%;
  padding: 0 20px;
  border-radius: 15px 0 0 15px;
  background-color: rgba(255, 255, 255, 0.857);
}

#circuits button {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
/* ------------------ Contact ---------------*/
#contact {
  text-align: center;
  width: 72%;
  margin: 20px auto;

  position: relative;
}
#contact h2 {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #565656;
  padding-bottom: 10px;
}
#contact p {
  display: inline-block;
  width: 80%;
}
input {
  display: inline-block;

  margin: 5px;
  padding: 5px;
}

#ok {
  background-color: #2dbbe6;
  color: white;
  border-color: white;
  border-radius: 3px;
}
/* ------------------ Contact ---------------*/
footer {
  background-color: #575557;
  height: 150px;
  color: white;
  text-align: center;
  padding-top: 50px;
}
footer h2,
footer p {
  display: block;
  color: white;
}
