/* ------------------ generals ----------------*/
* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #565656;
}

/* ------------------ Header ----------------*/
header h2 {
  display: inline-block;
}
header {
  width: 80%;
  margin: auto;
  position: relative;
}
header h2 {
  display: inline-block;
}
nav {
  display: inline-block;
  position: absolute;
  bottom: 9px;
  right: 0;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
}

/* ------------------ Hero ---------------*/
#accueil {
  background: url(../Images/main.jpg);
  background-size: 100%;
  height: 400px;
  background-repeat: no-repeat;
  padding: auto;
  position: relative;
}
#accueil h1 {
  font-size: 2em;
  font-weight: 400;
  display: block;
  text-align: center;
}

#accueil button {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
/* -------------- destinations ---------------*/
#destinations {
  width: 80%;
  margin: 30px auto;
}
.etapes {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.etapes img {
  width: 80px;
}
.etapes p {
  font-size: 0.8em;
}
/* ------------------ Circuits ---------------*/
#circuits {
  background: #f1f2f3;
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
}

#voiture,
#ocean {
  display: inline-block;
  position: relative;
  width: 400px;
  margin: 40px 10px;
  height: 250px;
  border-radius: 16px;
  border: 1px solid white;
}
#ocean {
  background: url(../Images/article-image-2.jpg) center no-repeat;
}
#voiture {
  background: url(../Images/article-image-1.jpg) center no-repeat;
}
.option {
  position: absolute;

  width: 180px;
  height: 100%;
  padding: 0 20px;

  background-color: rgba(255, 255, 255, 0.857);
  border-radius: 15px 0 0 15px;
}

#circuits button {
  background: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
